.img{
    height: 80px;
    width: 80px;
}
.title{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    color: #333333;
    max-width: 192px;
}
.block{
    max-width: 301px;
    display: flex;
    gap: 12px;
    align-items: center;

}
.box{
    display: flex;
    flex-wrap: wrap;
    gap: 51px;
    justify-content: center;
}
.container{
    max-width: 1440px;
    /* background-color: bisque; */
    height: auto;
    padding: 30px 30px;
    margin: 0 auto;
}

@media screen and (max-width: 537px){
    .img{
        width: 70px;
        height: 70px;
    }
    .title{
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
    }
    .box{
        gap: 27px;
    }

}