.controls {
  max-width: 90rem;
  height: auto;
  /* background: #e1cece; */
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.75rem 1.25rem;
  flex-direction: column;
  }


  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    color: #333333;
    margin-bottom: 60px;
  }


  .price {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: right;
    border-bottom: 2px dotted #999;
  }
  .price span {
    font-weight: bold;
  }

  .box{
    flex-wrap: wrap;
    display: flex;
    /* justify-content:start ; */
    align-items: center;
    gap: 40px;
    max-width: 81.375rem;
  }


/* media screen */

  @media screen and (max-width: 1362px){
    .box{
      max-width: 53.4375rem;
    }
  }


/* 895px */


  @media screen and (max-width: 895px){
    .box{
      max-width: 512px;
      gap: 19px;
    }
    .title{
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;

      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 552px){
    .box{
      max-width: 21rem;
    }
    .controls{
      padding: 2.5rem 0.625rem;
    }
  }